[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
polars = "*"

[dev-packages]

[scripts]
start = "jupyter-notebook"

[requires]
python_version = "3.10"
