[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = ">= 2.2.0"
polars = ">= 0.20.5"

[dev-packages]

[scripts]
start = "jupyter-notebook"

[requires]
python_version = "3.12"
