[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "== 2.2.2"
polars = "== 1.2.1"

[dev-packages]

[scripts]
start = "jupyter-notebook"

[requires]
python_version = "3.12"
